.App {
  background-color: black;
  /* height: 100vh; */
  /* width: 100%; */
  /* text-align: center; */
  /* overflow: hidden; */
  /* background-image: url('/public/layout/bg.png');  */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* justify-content: space-between; */
    /* background-image: url('/public/layout/bg.png');  */
}
/* .NavBar {
  margin-left: 250px;
} */

